#sec1{
	background-image: url(../img/header.jpg);
	padding: 150px 0px 150px 0px;
	background-size: cover;
}
#btn{
	border-radius: 30px;
	color: #fff;
	background: #F05F40;
	width: 180px;
	height: 50px;
	line-height: 35px;
	font-weight: bold;

}
#btn1{
	border-radius: 30px;
	color: black;
	background: #fff;
	width: 180px;
	height: 50px;
	line-height: 35px;
	font-weight: bold;
}
#about{
	background: #F05F40!important;
	padding: 150px 0px;
}
.text-faded {
	color: rgba(255,255,255,.7);
}
#mainNav {
	border-bottom: 1px solid rgba(33, 37, 41, 0.1);
	background-color: #fff;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

#mainNav .navbar-brand {
	font-weight: 700;
	text-transform: uppercase;
	color: #F05F40;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
	color: #f05f40;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link{
	font-size: .9rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover {
	color: #F05F40;
}
#services{
	padding: 150px 0px;
}
.text-primary {
	color: #f05f40!important;
}
#portfolio{
	text-align: center;
}
img{
	width: 505px;
	height: 270px!important;
}
img:hover{
	
}
#div{
	padding: 150px 0px;
}
#contact{
	padding: 100px 0px;
}